langchain
langchain_community
python-dotenv
pypdf
bs4
arxiv
pymupdf
google-generativeai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_google_genai
langchain_groq
langchain_core
langserve
sse_starlette
cohere 
langchain-cohere
